<% content_for(:title) do %>
  My Account
<% end %>

<%= trail_message.html_safe %>

<div class="grayOuter">
  <div class="container">
    <div class="stepInnerContnt">
      <%= static_page.edit_your_account.try(:html_safe) %>
      <!--Start setting-->
      <div class="settingCon">
        <div class="personalInfo">
          <%= static_page.personal_information.try(:html_safe) %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "update_user_info" }) do |f| %>
            <ul>
              <li>
                <label class="label">First Name</label>
                <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true, required: true, class: "inputText mb5" %>
              </li>
              <li>
                <label class="label">Last Name</label>
                <%= f.text_field :last_name, placeholder: 'Last Name', class: "inputText mb5" %>
              </li>
              <li>
                <label class="label">User Name</label>
                <%= f.text_field :user_name, placeholder: 'Username', required: true, class: "inputText mb5" %>
              </li>
              <div class="clearfix"></div>
              <li>
                <label class="label">Email Address</label>
                <%= f.email_field :email, placeholder: 'Email Address', required: true, class: "inputText mb5" %>
              </li>
              <li>
                <label class="label">Contact Number</label>
                <%= f.text_field :phone_number, placeholder: 'Contact Number', required: true, class: "inputText mb5" %>
              </li>
              <li>
                <label class="label">Company Name</label>
                <%= f.text_field :company_name, placeholder: 'Company Name', required: true, class: "inputText mb5" %>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="btn_center">
              <%= link_to "Cancel", dashboard_path, remote: true, class: "btn_back piBtns" %>
              <%= f.submit "Save", class: "btn_start piBtns" %>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="changePassword change-pass">
          <%= static_page.change_password.try(:html_safe) %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "update_user_password" }) do |f| %>
            <ul>
              <li class="hide">
                <%= f.email_field :email, placeholder: 'Email Address', required: true, class: "inputText" %>
              </li>
              <li class="fullwidth">
                <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password', required: true, class: "inputText mb5" %>
              </li>
              <div class="clearfix"></div>
              <li>
                <%= f.password_field :password, autocomplete: "off", placeholder: 'New Password', class: "inputText mb5", id: "change_new_password" %>
              </li>
              <li>
                <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Re-enter New password', class: "inputText mb5" %>
              </li>
              <div class="clearfix"></div>
            </ul>
            <div class="btn_center">
              <%= link_to "Cancel", dashboard_path, remote: true, class: "btn_back piBtns" %>
              <%= f.submit "Update", class: "btn_start piBtns" %>
            </div>
          <% end %>
        </div>
        <div class="myplan change-pass" id="myplan">
          <%= static_page.my_plan.try(:html_safe) %>
          <p>You have <%= current_user.credits %> Credits</p>
          <p class="mt10"><%= user_plan(current_user).html_safe %></p>
          <div class="btn_center">
            <% if current_user.building_plan.present? || current_user.tunnel_plan.present? %>
              <%= link_to "Upgrade", pricing_path, remote: true, class: "btn_start width-120" %>
            <% else %>
              <%= link_to "Subscribe", pricing_path, remote: true, class: "btn_start width-120" %>
            <% end %>
          </div>
          <div class="mt10"></div>
          <strong>Buy yOUR Credits NOW</strong>
          <div class="btn_center margin-top-0">
            <%= link_to "Buy Credits", credits_path, remote: true, class: "btn_start width-120" %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!--End setting-->
    </div>
  </div>
</div>

<!-- Form Validation -->
<script type="text/javascript">
  $(document).ready(function(){
    $("#update_user_info").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255,
          remote: {
            url: "/check_current_email_unique",
            type: "get"
          }
        },
        "user[phone_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        "user[company_name]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "user[user_name]": {
          required: true,
          noSpace: true,
          maxlength: 255,
          remote: {
            url: "/check_current_username_unique",
            type: "get"
          }
        }
      },
      messages: {
        "user[first_name]": {
          required: "Please enter your First Name.",
          noSpace: "Please enter valid First Name."
        },
        "user[last_name]": {
          required: "Please enter your Last Name.",
          noSpace: "Please enter valid Last Name."
        },
        "user[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          remote: "This Email Address is taken."
        },
        "user[phone_number]": {
          required: "Please enter your Contact Number.",
          phone: "Please enter valid Contact Number.",
          minlength: "Your Contact Number must be of minimum 8 digits.",
          maxlength: "Your Contact Number must be of maximum 15 digits."
        },
        "user[company_name]": {
          required: "Please enter your Company Name.",
          noSpace: "Please enter valid Company Name."
        },
        "user[user_name]": {
          required: "Please enter your User Name.",
          noSpace: "Please enter valid User Name.",
          remote: "This User Name is taken."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  
    $("#update_user_password").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "user[current_password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#change_new_password"
        }
      },
      messages: {
        "user[current_password]": {
          required: "Please enter your Current Password.",
          noSpace: "Please enter valid Current Password.",
          minlength: "Your Current Password must be of minimum 8 characters.",
          maxlength: "Your Current Password must be of maximum 255 characters."
        },
        "user[password]": {
          required: "Please enter your New Password.",
          noSpace: "Please enter valid New Password.",
          minlength: "Your New Password must be of minimum 8 characters.",
          maxlength: "Your New Password must be of maximum 255 characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm your New Password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Your Confirm Password must be of minimum 8 characters.",
          maxlength: "Your Confirm Password must be of maximum 255 characters.",
          equalTo : "Your Confirm Password must be equal to New Password."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>

<style type="text/css">
  footer{position: static !important; }
</style>