<% content_for(:title) do %>
  Sign up
<% end %>

<!-- Slider Outer -->
<div class="clearfix sliderOuter">  
  <div class="">
    <div class="container"> 
      <div class="row">
        <%= render partial: 'shared/slider_inner', locals: { static_page: static_page } %>
        <div class="col-sm-5">
          <div class="formOuter">
            <%= static_page.heading_register_account.try(:html_safe) %>
            <div class="row">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: "signup_user"}) do |f| %>
                <div class="col-sm-12"><%= flash_messages %></div>
                <div class="clearfix"></div>
                <div class="col-sm-12"><%= devise_error_messages! %></div>
                <div class="clearfix"></div>
                <div class="col-sm-6 prz">
                  <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true, required: true, class: "form-control inputText mb5" %>
                </div>
                <div class="col-sm-6 plz">
                  <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control inputText mb5" %>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 prz">
                  <%= f.email_field :email, placeholder: 'Email Address', required: true, class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="col-sm-6 plz">
                  <%= f.text_field :phone_number, placeholder: 'Contact No.', required: true, class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <%= f.text_field :company_name, placeholder: 'Company Name', required: true, class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <%= f.text_field :user_name, placeholder: 'User Name', required: true, class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', required: true, id: "sign_up_password", class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', required: true, class: "form-control inputText mb5 mt15" %>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 mt5">
                  <label>
                    <%= f.check_box :terms_and_conditions %>
                    I agree to the <%= link_to t('links.terms_and_conditions'), terms_and_conditions_path, target: "_blank" %> and <%= link_to t('links.privacy_policy'), privacy_policy_path, target: "_blank" %>
                  </label>
                  <div id="terms_and_conditions_error"></div>
                  <%= f.submit "Submit", class: "form-control inputText inputSub" %>
                </div>
                <div class="clearfix"></div>
                <div class="text-center">We hate spam as much as you do</div>
                <div class="clearfix"></div>
                <div class="col-sm-12">
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  Slider Outer End-->

<script type="text/javascript">
  $(document).ready(function(){
    $("#signup_user").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "user[terms_and_conditions]") {
          error.appendTo($("#terms_and_conditions_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "user[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "user[email]": {
          required: true,
          noSpace: true,
          email: true,
          maxlength: 255,
          remote: {
            url: "/check_email_unique",
            type: "get"
          }
        },
        "user[phone_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        "user[company_name]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "user[user_name]": {
          required: true,
          noSpace: true,
          maxlength: 255,
          remote: {
            url: "/check_username_unique",
            type: "get"
          }
        },
        "user[password]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255
        },
        "user[password_confirmation]": {
          required: true,
          noSpace: true,
          minlength: 8,
          maxlength: 255,
          equalTo: "#sign_up_password"
        },
        "user[terms_and_conditions]": {
          required: true
        }
      },
      messages: {
        "user[first_name]": {
          required: "Please enter your First Name.",
          noSpace: "Please enter valid First Name."
        },
        "user[last_name]": {
          required: "Please enter your Last Name.",
          noSpace: "Please enter valid Last Name."
        },
        "user[email]": {
          required: "Please enter your Email Address.",
          noSpace: "Please enter valid Email Address.",
          email: "Please enter valid Email Address.",
          remote: "This Email Address is taken."
        },
        "user[phone_number]": {
          required: "Please enter your Contact Number.",
          phone: "Please enter valid Contact Number.",
          minlength: "Your Contact Number must be of minimum 8 digits.",
          maxlength: "Your Contact Number must be of maximum 15 digits."
        },
        "user[company_name]": {
          required: "Please enter your Company Name.",
          noSpace: "Please enter valid Company Name."
        },
        "user[user_name]": {
          required: "Please enter your User Name.",
          noSpace: "Please enter valid User Name.",
          remote: "This user Name is taken."
        },
        "user[password]": {
          required: "Please enter your Password.",
          noSpace: "Please enter valid Password.",
          minlength: "Your Password must be of minimum 8 characters.",
          maxlength: "Your Password must be of maximum 255 characters."
        },
        "user[password_confirmation]": {
          required: "Please confirm your Password.",
          noSpace: "Please enter valid Confirm Password.",
          minlength: "Your Confirm Password must be of minimum 8 characters.",
          maxlength: "Your Confirm Password must be of maximum 255 characters.",
          equalTo : "Your Confirm Password must be same as Password."
        },
        "user[terms_and_conditions]": {
          required: "Please agree to the Terms & Conditions and Privacy Policy."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
        set_footer();
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
