<% static_page = StaticPage.last %>
<% if static_page.present? && static_page.verification_email.present? %>
  <%= static_page.verification_email.html_safe %>
<% else %>
	<div>Congratulations, you have successfully signed up for our website XYZ.com and you will receive an email containing your activation link shortly.</div>
<% end %>
<div>Didn't receive an activation email? <%= link_to "Click here to resend", "#{ENV['DOMAIN']}/send_activation_email?email=#{@email}" %>.</div>