<div class="modal-dialog modal-sm small-modal-margin">
  <div class="modal-content text-center">
    <div class="modal-header">
      <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
      <h4 id="destroyShowLabel" class="modal-title">Are you sure?</h4>
      <%= form_for(project, url: tunnel_project_path(project), method: :delete, remote: true, html: {id: "destroy_project"}) do |f| %>
        <%= hidden_field_tag "page", page %>
        <%= hidden_field_tag "discard", discard %>
      <% end %>
    </div>
    <div class="modal-footer text-align-center btn_center margin-top-0">
      <%= link_to "Yes", "javascript:;", class: "btn_start padding-10", id: "yes_destroy" %>
      <%= link_to "No", "javascript:;", class: "btn_back padding-10 margin-right-0", data: {dismiss: "modal"} %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
  	$("#yes_destroy").click(function(){
  		$("#destroy_project").submit();
  	});
  });
</script>