<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="20%"><%= wicked_pdf_image_tag "logo.png", border: "0" %></td>
		<% if static_page.present? && static_page.report_header_pdf.present? %>
      <%= static_page.report_header_pdf.html_safe %>
    <% else %>
  		<td width="64%" style="color:#b6b6b6;text-align:center;font-size:24px;">
  			Changing The Way You Do DAS ROM Quotes
  			<span style="display:block;font-size:13px;font-weight:600;">Contact: XXXXX, LTD. PH:+1-xxx-xxx-xxxx , info@example.com</span>
  		</td>
  	<% end %>
  	<td width="16%" style="color:#b6b6b6;text-align:center;font-size:20px;">
			<%= project.updated_at.strftime("%B %d, %Y") %>
			<span style="display:block;font-size:15px;font-weight:600;">Quote Ref: <%= project_quote_ref(project.id) %></span>
		</td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
  <tr>
		<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">USER NAME</th>
		<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">PROJECT NAME</th>
		<th width="25%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">COMPANY</th>
		<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">FACILITY OPTION</th>
		<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">NO. OF TUNNELS</th>
		<th width="15%" style="background:#efefef;padding:14px 12px;color:#767676;border-bottom:2px #e8e8e8 solid;">HAVE FLOORPLANS</th>
  </tr>
  <tr>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.user_name %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.project_name %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.company %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.facility_option %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.tunnel.number_of_tunnels %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.tunnel.have_floorplan %></td>
  </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
  <tr>
		<th width="14%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">NO. OF SERVICES</th>
		<th width="17%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">HIGHEST FREQUENCY BAND</th>
		<th width="17%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">SYSTEM FEED METHOD</th>
		<th width="17%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">SYSTEM ARCHITECTURE</th>
		<th width="17%" style="background:#efefef;padding:14px 12px;color:#767676;border-right:2px #e8e8e8 solid;border-bottom:2px #e8e8e8 solid;">TECHNOLOGY TYPE</th>
		<th width="17%" style="background:#efefef;padding:14px 12px;color:#767676;border-bottom:2px #e8e8e8 solid;">COMMUNICATION TYPE</th>
  </tr>
  <tr>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.number_of_services %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.highest_frequency_band %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.system_feed_method %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.system_architecture %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.technology_type %></td>
		<td style="font-weight:600;padding:4px 5px;text-align:center;font-size:13px;text-transform: uppercase;"><%= project.communication_type %></td>
  </tr>
</table>
