<div class="modal-dialog modal-md small-modal-margin">
  <div class="modal-content text-center">
    <div class="modal-header">
      <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
      <% if StaticPage.last.present? && StaticPage.last.download_warning.present? %>
        <%= StaticPage.last.download_warning.html_safe %>
      <% else %>
        <div class="Disclaimer">
          <div class="clearfix tac boldHD"> Notice</div>
          <p>The downloadable report below is provided for your use, as a subscriber to this service. Subletting of this account or resale of this report or service is strictly prohibited according to the terms of your subscription agreement.</p>
          <p>Violation of this notice will be subject to account termination.</p>
        </div>
      <% end %>
    	<!-- <div class="stepOuterNext stepOuterLast padding-0">
			  Click the Download Button to get your Report !
			</div> -->
			<div class="nextBtn btn_center margin-top-0">
			  <%= link_to "Download", report_export_tunnel_project_path(project), class: "orangeBtn padding-10-40", id: "report_export_download" %>
			</div>
      <div class="mt20"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $("#report_export_download").click(function() {
      $("#download_report").modal("hide");
    })
  })
</script>
