<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="formOuter formOuterTunnel">
        <%= static_page.tunnel_data_entry.try(:html_safe) %>
        <%= form_for(tunnel_data_entry, url: save_tunnel_data_entry_tunnel_project_path(project), method: :post, remote: true, html: {id: "tunnel_data_details"}) do |f| %>
          <div class="row">
            <div class="col-sm-12" id="tunnel_error_messages"><%= model_error_messages(tunnel_data_entry) %></div>
            <div class="col-sm-12" id="message">
              <div class="alert alert-info fade in margin-bottom-10">
                <a data-dismiss="alert" class="close position-inherit">x</a>
                <div id="return_message"></div>
              </div>
            </div>
            <div class="col-xs-5">
              <%= f.text_field :tunnel_name, autofocus: true, required: true, placeholder: "Tunnel Name", class: "form-control inputText mb5" %>
            </div>       
            <div class="col-xs-7">
              <label class="rightTooltip">Tunnel Name 
                <div class="question"><%= static_page.help_tunnel_name.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <div class="selctFormBox mb5">
                <% if tunnel_data_entry.tunnel_number.present? %>
                  <input type="text" id="tunnel_data_entry_tunnel_number_txtval" value="<%= tunnel_data_entry.tunnel_number %>" readonly class="selectInput">
                <% else %>
                  <input type="text" id="tunnel_data_entry_tunnel_number_txtval" value="Select Tunnel No." readonly class="selectInput">
                <% end %>
                <select id="tunnel_data_entry_tunnel_number" name="tunnel_data_entry[tunnel_number]" required="required" class="select">
                  <option value="">Select Tunnel No.</option>
                  <% (1..tunnel.number_of_tunnels).to_a.each do |tunnel_number| %>
                    <option value="<%= tunnel_number %>" <%="selected" if tunnel_number==tunnel_data_entry.tunnel_number%> ><%= tunnel_number %></option>
                  <% end %>
                </select>
              </div>
              <div id="tunnel_number_error"></div>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip">Tunnel No. 
                <div class="question"><%= static_page.help_tunnel_number.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <div class="selctFormBox mb5">
                <% if tunnel_data_entry.number_of_bores.present? %>
                  <input type="text" id="tunnel_data_entry_number_of_bores_txtval" value="<%= tunnel_data_entry.number_of_bores %>" readonly class="selectInput">
                <% else %>
                  <input type="text" id="tunnel_data_entry_number_of_bores_txtval" value="Select No. of Tunnel Bores" readonly class="selectInput">
                <% end %>
                <%= f.select :number_of_bores, NumberOfBore.all.collect {|nob| [ nob.bores, nob.bores ] }, { include_blank: false, prompt: "Select No. of Tunnel Bores" }, required: true,  class: "select" %>
              </div>
              <div id="number_of_bores_error"></div>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip">No. of Tunnel Bores 
                <div class="question"><%= static_page.help_number_of_bores.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <div class="selctFormBox mb5 pr21">
                <% if tunnel_data_entry.number_of_segments.present? %>
                  <input type="text" id="tunnel_data_entry_number_of_segments_txtval" value="<%= tunnel_data_entry.number_of_segments %>" readonly class="selectInput">
                <% else %>
                  <input type="text" id="tunnel_data_entry_number_of_segments_txtval" value="Select No. of Tunnel Segments" readonly class="selectInput">
                <% end %>
                <%= f.select :number_of_segments, NumberOfSegment.all.collect {|nos| [ nos.segments, nos.segments ] }, { include_blank: false, prompt: "Select No. of Tunnel Segments" }, required: true,  class: "select" %>
              </div>
              <div id="number_of_segments_error"></div>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip">No. of Tunnel Segments 
                <div class="question"><%= static_page.help_number_of_segments.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :bore_number, placeholder: "Tunnel Bore", class: "form-control inputText mb5" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip">Now Entering Data for this Tunnel Bore 
                <div class="question"><%= static_page.help_this_tunnel_bore.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :segment_number, placeholder: "Tunnel Segment", class: "form-control inputText mb5" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip">Now Entering Data for this Tunnel Segment 
                <div class="question"><%= static_page.help_this_tunnel_segment.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :tunnel_length, autocomplete: "off", placeholder: "(ft.) Tunnel Segment Length", class: "form-control inputText mb5" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip margin-top-20 mb5"> (ft.) Tunnel Segment Length</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :tunnel_width, autocomplete: "off", placeholder: "(ft.) Tunnel Segment Width", class: "form-control inputText mb5" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip margin-top-20 mb5"> (ft.) Tunnel Segment Width</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :tunnel_height, autocomplete: "off", placeholder: "(ft.) Tunnel Segment Height", class: "form-control inputText mb5" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip margin-top-20 mb5"> (ft.) Tunnel Segment Height</label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-10">
              <div class="selctFormBox mb5">
                <input type="text" id="tunnel_data_entry_environment_designator_txtval" value="Select Tunnel Type/Environment for this Tunnel Segment" readonly class="selectInput">
                <%= f.select :environment_designator, TunnelEnvironment.all.collect {|te| [ te.environment, te.tunnel_indoor_factor ] }, { include_blank: false, prompt: "Select Tunnel Type/Environment for this Tunnel Segment" }, required: true, class: "select" %>
              </div>
              <div id="environment_designator_error"></div>           
            </div>
            <div class="col-xs-2">
              <label class="rightTooltip">
                <div class="question"><%= static_page.help_tunnel_environment.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-10">
              <div class="selctFormBox mb5">
                <input type="text" id="tunnel_data_entry_number_of_radio_rooms_txtval" value="Select No. of Possible Station or Radio Equipment Install Locations" readonly class="selectInput fs13-small">
                <%= f.select :number_of_radio_rooms, NumberOfRadioRoom.all.collect {|norm| [ norm.radio_rooms, norm.radio_rooms ] }, { include_blank: false, prompt: "Select No. of Possible Station or Radio Equipment Install Locations" }, required: true,  class: "select" %>
              </div>
              <div id="number_of_radio_rooms_error"></div>
            </div>
            <div class="col-xs-2">
              <label class="rightTooltip">
                <div class="question"><%= static_page.help_number_of_stations.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-sm-12">
              <div class="btn_center btn_center enterData mt10">
                <%= link_to "Close", "javascript:;", class: "btn_cancel", data: {dismiss: "modal"} %>
                <%= f.submit "Enter Data", class: "form-control inputSub" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.select').change(function(){
      var a = $(this).find('option:selected').text();
      $(this).prev('.selectInput').val(a);
    });

    // $("#tunnel_data_entry_number_of_bores").change(function(){
    //   if($(this).val().length > 0){
    //     $("#tunnel_data_entry_bore_number").html("<option value=''>Enter Data for this Tunnel Bore Number</option>");
    //     for ( var i = 1, l = $(this).val(); i <= l; i++ ) {
    //       $("#tunnel_data_entry_bore_number").append("<option value='"+i+"'>"+i+"</option>");
    //     }
    //   } else {
    //     $("#tunnel_data_entry_bore_number").html("<option value=''>Enter Data for this Tunnel Bore Number</option>");
    //   }
    // });

    // $("#tunnel_data_entry_number_of_segments").change(function(){
    //   if($(this).val().length > 0){
    //     $("#tunnel_data_entry_segment_number").html("<option value=''>Enter Data for this Tunnel Segment Number</option>");
    //     for ( var i = 1, l = $(this).val(); i <= l; i++ ) {
    //       $("#tunnel_data_entry_segment_number").append("<option value='"+i+"'>"+i+"</option>");
    //     }
    //   } else {
    //     $("#tunnel_data_entry_segment_number").html("<option value=''>Enter Data for this Tunnel Segment Number</option>");
    //   }
    // });

    $("#tunnel_data_details").bind('ajax:complete', function(){
      tunnel_number = parseInt($("#tunnel_data_entry_tunnel_number").val());
      number_of_tunnels = "<%= tunnel.number_of_tunnels %>"
      bore_number = parseInt($("#tunnel_data_entry_bore_number").val());
      number_of_bores = parseInt($("#tunnel_data_entry_number_of_bores").val());
      segment_number = parseInt($("#tunnel_data_entry_segment_number").val());
      number_of_segments = parseInt($("#tunnel_data_entry_number_of_segments").val());
      if(segment_number < number_of_segments) {
        $("#tunnel_data_entry_segment_number").val(segment_number+1);
      } else {
        $("#tunnel_data_entry_segment_number").val(1);
        if(bore_number < number_of_bores){
          $("#tunnel_data_entry_bore_number").val(bore_number+1);
        } else {
          $("#tunnel_data_entry_bore_number").val(1);
          if(tunnel_number < number_of_tunnels){
            $("#tunnel_data_entry_tunnel_name").val("");
            $("#tunnel_data_entry_tunnel_number_txtval").val(tunnel_number+1);
            $("#tunnel_data_entry_tunnel_number").val(tunnel_number+1);
            $("#tunnel_data_entry_number_of_bores_txtval").val("Select No. of Tunnel Bores");
            $("#tunnel_data_entry_number_of_bores").val("");
            $("#tunnel_data_entry_number_of_segments_txtval").val("Select No. of Tunnel Segments");
            $("#tunnel_data_entry_number_of_segments").val("");
          } else {
            $("#tunnel_data_entry_tunnel_name").val("");
            $("#tunnel_data_entry_tunnel_number_txtval").val("Select Tunnel No.");
            $("#tunnel_data_entry_tunnel_number").val("");
            $("#tunnel_data_entry_number_of_bores_txtval").val("Select No. of Tunnel Bores");
            $("#tunnel_data_entry_number_of_bores").val("");
            $("#tunnel_data_entry_number_of_segments_txtval").val("Select No. of Tunnel Segments");
            $("#tunnel_data_entry_number_of_segments").val("");
            $("#tunnel_data_entry_bore_number").val("");
            $("#tunnel_data_entry_segment_number").val("");
          }
        }
      }
      $("#tunnel_data_entry_tunnel_length").val("");
      $("#tunnel_data_entry_tunnel_width").val("");
      $("#tunnel_data_entry_tunnel_height").val("");
      $("#tunnel_data_entry_environment_designator_txtval").val("Select Tunnel Type/Environment for this Tunnel Segment");
      $("#tunnel_data_entry_environment_designator").val("");
      $("#tunnel_data_entry_number_of_radio_rooms_txtval").val("Select No. of Possible Station or Radio Equipment Install Locations");
      $("#tunnel_data_entry_number_of_radio_rooms").val("");
    });
    
    $("#tunnel_data_details").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "tunnel_data_entry[tunnel_number]") {
          error.appendTo($("#tunnel_number_error"));
        } else if(element.attr("name") == "tunnel_data_entry[number_of_bores]") {
          error.appendTo($("#number_of_bores_error"));
        } else if(element.attr("name") == "tunnel_data_entry[number_of_segments]") {
          error.appendTo($("#number_of_segments_error"));
        // } else if(element.attr("name") == "tunnel_data_entry[bore_number]") {
        //   error.appendTo($("#bore_number_error"));
        // } else if(element.attr("name") == "tunnel_data_entry[segment_number]") {
        //   error.appendTo($("#segment_number_error"));
        } else if(element.attr("name") == "tunnel_data_entry[environment_designator]") {
          error.appendTo($("#environment_designator_error"));
        } else if(element.attr("name") == "tunnel_data_entry[number_of_radio_rooms]") {
          error.appendTo($("#number_of_radio_rooms_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "tunnel_data_entry[tunnel_name]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "tunnel_data_entry[tunnel_number]": {
          required: true
        },
        "tunnel_data_entry[number_of_bores]": {
          required: true
        },
        "tunnel_data_entry[number_of_segments]": {
          required: true
        },
        "tunnel_data_entry[bore_number]": {
          required: true,
          noSpace: true,
          number: true
        },
        "tunnel_data_entry[segment_number]": {
          required: true,
          noSpace: true,
          number: true
        },
        "tunnel_data_entry[tunnel_length]": {
          required: true,
          noSpace: true,
          number: true,
          maxlength: 20
        },
        "tunnel_data_entry[tunnel_width]": {
          required: true,
          noSpace: true,
          number: true,
          maxlength: 20
        },
        "tunnel_data_entry[tunnel_height]": {
          required: true,
          noSpace: true,
          number: true,
          maxlength: 20
        },
        "tunnel_data_entry[environment_designator]": {
          required: true
        },
        "tunnel_data_entry[number_of_radio_rooms]": {
          required: true
        }
      },
      messages: {
        "tunnel_data_entry[tunnel_name]": {
          required: "Please enter Tunnel Name.",
          noSpace: "Please enter valid Tunnel Name."
        },
        "tunnel_data_entry[tunnel_number]": {
          required: "Please select Tunnel No."
        },
        'tunnel_data_entry[number_of_bores]': {
          required: "Please select No. of Tunnel Bores."
        },
        'tunnel_data_entry[number_of_segments]': {
          required: "Please select No. of Tunnel Segments."
        },
        'tunnel_data_entry[bore_number]': {
          required: "Please enter Tunnel Bore.",
          noSpace: "Please enter valid Tunnel Bore.",
          number: "Please enter valid Tunnel Bore."
        },
        'tunnel_data_entry[segment_number]': {
          required: "Please enter Tunnel Segment.",
          noSpace: "Please enter valid Tunnel Segment.",
          number: "Please enter valid Tunnel Segment."
        },
        "tunnel_data_entry[tunnel_length]": {
          required: "Please enter (ft.)Tunnel Segment Length.",
          noSpace: "Please enter valid (ft.) Tunnel Segment Length.",
          number: "Please enter valid (ft.) Tunnel Segment Length.",
          maxlength: 20
        },
        "tunnel_data_entry[tunnel_width]": {
          required: "Please enter (ft.) Tunnel Segment Width.",
          noSpace: "Please enter valid (ft.) Tunnel Segment Width.",
          number: "Please enter valid (ft.) Tunnel Segment Width.",
          maxlength: 20
        },
        "tunnel_data_entry[tunnel_height]": {
          required: "Please enter (ft.)Tunnel Segment Height.",
          noSpace: "Please enter valid (ft.) Tunnel Segment Height.",
          number: "Please enter valid (ft.) Tunnel Segment Height.",
          maxlength: 20
        },
        'tunnel_data_entry[environment_designator]': {
          required: "Please select Tunnel Type/Environment for this Tunnel Segment."
        },
        "tunnel_data_entry[number_of_radio_rooms]": {
          required: "Please select No. of Possible Station or Radio Equipment Install Locations."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>