<%= render partial: 'tunnel_system_form', locals: { project: @project, system_feed_methods: @system_feed_methods, system_architectures: @system_architectures, first: @first, facility: @facility, static_page: @static_page } %>
