<% if @saved %>
	// $("#tunnel_data_details").get(0).reset();
  $("#tunnel_data_entry_bore_number").html("<option value=''>Enter Data for this Tunnel Bore Number</option>");
  $("#tunnel_data_entry_segment_number").html("<option value=''>Enter Data for this Tunnel Segment Number</option>");
	$("#message").show();
	$("#return_message").html("Successfully entered data for: <b>Tunnel <%= @tunnel_data_entry.tunnel_number %> Bore <%= @tunnel_data_entry.bore_number %> Segment <%= @tunnel_data_entry.segment_number %></b>");
<% else %>
	$("#tunnel_error_messages").html("<%= j(model_error_messages(@tunnel_data_entry)) %>");
	$("#message").hide();
	$("#return_message").html("");
<% end %>

set_footer();
