<% if @saved %>
	$("#enter_area_data_entry").html("<%= j(link_to 'Tunnel Data Entry', tunnel_data_entry_tunnel_project_path(@project), remote: true) %>");
	// $("#next_button").html("<%#= j(link_to 'Next', project_tunnel_services_path(@project, first: @first, facility: @facility), remote: true, class: 'btn_start') %>");
	$("#next_button").html("<%= j(link_to 'Next', check_data_entries_tunnel_project_path(@project, first: @first, facility: @facility), remote: true, class: 'btn_start') %>");
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@tunnel)) %>");
<% end %>

set_footer();