<% if @saved %>
	$("#container_content").html("<%= j(render partial: 'tunnel_form', locals: { project: @project, tunnel: @tunnel, facility: @facility, first: @first, static_page: @static_page }) %>");
	document.title = "Project Details"
	if (history && history.pushState) {
		history.pushState(null, document.title, "<%= tunnel_entry_path(@project, facility: @facility, first: @first) %>");
		$(window).bind("popstate", function() {
	    $.getScript(location.href);
	  });
	}
<% else %>
	$("#error_messages").html("<%= j(model_error_messages(@project)) %>");
<% end %>

set_footer();
$('html').scrollTop(0);