<% content_for(:title) do %>
  Dashboard
<% end %>

<% if static_page.present? && static_page.home_page.present? %>
  <%= static_page.home_page.html_safe %>
<% else %>
	<div class="grayOuter padding_50">
		<div class="container">
			<div class="stepInnerContnt dashboard">
				<div class="clearfix tac boldHD my-acc-edit"> Welcome to your Dashboard !</div>
				 <p class="dash_para m-plan">On this page you may access your Account to review details, change password, review and upgrade your subscription, payment details, and more. You also have access to all completed project report files available for download (subject to limitations, if any, of your subscription level). You also have access to the Quick-Start Guide, available for review whenever you need it. <br>
					<span>Click to access any of the areas below, or Click the Start Button to begin a new project </span>
				</p>
				<div class="row fastStart">
					<div class="col-sm-6">
						<div class="dash_start new_start">					
							<p>Click <%= link_to "Start", quick_start_step1_path(first: 1), remote: true %> Button to begin a <br> new project with help screens</p>
							<%= link_to "Start", quick_start_step1_path(first: 1), remote: true, class: "btn_start" %>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="dash_start fast_start">
							<p>Click <%= link_to "fast-start", new_project_path, remote: true %> Button to Begin A <br>new project without help screens</p>
							<%= link_to "fast-Start", new_project_path, remote: true, class: "btn_fast_start" %>
						</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="col-sm-3 col-xs-6 padd_rgt0">
					<div class="project_box border-credits bg-dashboard">
						<div class="dash_bg1">
							<%= link_to projects_path, remote: true, class: "projct" do %>
								<span></span>projects
							<% end %>
							<%= link_to projects_pending_path, remote: true, class: "p_pending" do %>
								<span></span>projects pending
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-sm-3 padd_rgt0 col-xs-6">
					<div class="project_box border-credits bg-dashboard">
						<div class="dash_bg2 center_text bg-padding">
							<%= link_to edit_user_registration_path, remote: true, class: "icn_account" do %>
								<span></span>My Account
							<% end %>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-sm-3 padd_rgt0 col-xs-6">
					<div class="project_box border-credits bg-dashboard">
						<div class="dash_bg3">
							<%= link_to quick_start_path, remote: true, class: "q_start" do %>
								<span></span>Quick-Start guide
							<% end %>
							<%= link_to help_path, remote: true, class: "h_support" do %>
								<span></span>Help-support
							<% end %>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-xs-6 padd_rgt0">
					<div class="project_box border-credits bg-dashboard">
						<div class="dash_bg4 center_text">
							<span class="icn_report"></span>
							<%= link_to "javascript:;", class: "report_cust", data: {tooltip: "AVAILABLE IN PRO ACCOUNT ONLY"} do %>
								Report<br>customization
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<!-- Credits Modal Start -->
<div class="modal fade" id="credits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md small-modal-margin">
	  <div class="modal-content text-center">
	    <div class="modal-header">
	      <h4 id="destroyShowLabel" class="modal-title">
	        You have <%= current_user.credits %> credits. Please buy credits to continue.
	      </h4>
	    </div>
	    <div class="modal-footer text-align-center btn_center margin-top-0">
	      <%= link_to "Buy Credits", credits_path, class: "btn_start padding-10" %>
	    </div>
	  </div>
	</div>
</div>
<!-- Credits Modal End -->

<!-- Expired Modal Start -->
<div class="modal fade" id="expired" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md small-modal-margin">
	  <div class="modal-content text-center">
	    <div class="modal-header">
	      <h4 id="destroyShowLabel" class="modal-title">
	        Your trial period has expired. Please subscribe to continue.
	      </h4>
	    </div>
	    <div class="modal-footer text-align-center btn_center margin-top-0">
	      <%= link_to "Subscribe", pricing_path, class: "btn_start padding-10" %>
	    </div>
	  </div>
	</div>
</div>
<!-- Expired Modal End -->

<script type="text/javascript">
	document.title = "Dashboard"
	if (history && history.pushState) {
		history.pushState(null, document.title, "<%= root_path %>");
		$(window).bind("popstate", function(){
	    $.getScript(location.href);
	  });
	}
	<% if credits.present? && (credits == "0") %>
		$("#credits").modal("show");
	<% end %>
	<% if expired.present? && (expired == "1") %>
		$("#expired").modal("show");
	<% end %>
</script>