<% content_for(:title) do %>
  Quick Start Step1
<% end %>

<% if static_page.present? && static_page.quick_start_step1.present? %>
  <%= static_page.quick_start_step1.html_safe %>
<% else %>
	<div class="grayOuter">
		<div class="container">
			<div class="stepInnerContnt">
				<div class="stepOuter">
					<span>
						<%= image_tag "s1g.png", alt: "Step 1" %>
						<%= image_tag "s2Gray.png", alt: "Step 2", class: "middleImg" %>
						<%= image_tag "s3Gray.png", alt: "Step 3" %>
					</span>
				</div>
					<h1 class="grayMainGD">This is Step 1 - the first of three steps toward completion of your project. <br>Let's get started!</h1>
					<p>In this step we enter the Project Details and Building Data (including Area covered), Frequency Band of Operation, Number of Services and Channels. Make sure you have the information at hand before proceeding to the next page.</p>
					<p>Once you are ready, click the <strong>NEXT</strong> button to continue.</p>
			</div>
		</div>
	</div>
<% end %>

<div class="stepOuterNext">
	<div class="container">
		<% if first.present? %>
			Click the Next Button to begin Step 1
			<div class="nextBtn mt20"><%= link_to "Next", new_project_path(first: first), remote: true, class: "orangeBtn" %></div>
		<% else %>
			Click the Next Button to begin Step 2
			<div class="nextBtn mt20"><%= link_to "Next", quick_start_step2_path, remote: true, class: "orangeBtn" %></div>
		<% end %>
	</div>
</div>
