<% content_for(:title) do %>
  Quick Start Step2
<% end %>

<% if static_page.present? && static_page.quick_start_step2.present? %>
  <%= static_page.quick_start_step2.html_safe %>
<% else %>
	<div class="grayOuter">
		<div class="container">
			<div class="stepInnerContnt">
				<div class="stepOuter">
					<span>
						<%= image_tag "s1g.png", alt: "Step 1" %>
						<%= image_tag "s2GrnL.png", alt: "Step 2", class: "middleImg" %>
						<%= image_tag "s3Gray.png", alt: "Step 3" %>
					</span>
				</div>
				<h1 class="grayMainGD">This is Step 2 - the second of three steps toward completion of your project. <br></h1>
				<p>In this step we enter the System Feed Method (Off-Air, or Direct-Feed) and Architecture (Fiber of Coaxial Cable). After your selections are made, click the <strong>NEXT</strong> button to continue.</p>
			</div>
		</div>
	</div>
<% end %>

<div class="stepOuterNext">
	<div class="container">
		<% if first.present? && project_id.present? %>
			Click the Next Button to begin Step 2
			<div class="nextBtn mt20">
				<% if facility == "Tunnel" %>
					<%= link_to "Back", project_tunnel_services_path(project_id, first: first, facility: facility), remote: true, class: "grayBtn" %> &nbsp;
					<%= link_to "Next", project_tunnel_system_path(project_id, first: first, facility: facility), remote: true, class: "orangeBtn" %>
				<% else %>
					<%= link_to "Back", project_building_services_path(project_id, first: first, facility: facility), remote: true, class: "grayBtn" %> &nbsp;
					<%= link_to "Next", project_building_system_path(project_id, first: first, facility: facility), remote: true, class: "orangeBtn" %>
				<% end %>
			</div>
		<% else %>
			Click the Next Button to begin Step 3
			<div class="nextBtn mt20">
				<%= link_to "Back", quick_start_step1_path, remote: true, class: "grayBtn" %> &nbsp;
				<%= link_to "Next", quick_start_step3_path, remote: true, class: "orangeBtn" %>
			</div>
		<% end %>
	</div>
</div>
