<% content_for(:title) do %>
  Quick Start Step3
<% end %>

<% if static_page.present? && static_page.quick_start_step3.present? %>
  <%= static_page.quick_start_step3.html_safe %>
<% else %>
	<div class="grayOuter">
		<div class="container">
			<div class="stepInnerContnt">
				<div class="stepOuter">
					<span>
						<%= image_tag "s1g.png", alt: "Step 1" %>
						<%= image_tag "s2GrnL.png", alt: "Step 2", class: "middleImg" %>
						<%= image_tag "s3orange.png", alt: "Step 3" %>
					</span>
				</div>
				<h1 class="grayMainGD">This is Step 3 - the third and final step toward completion of your project. Please acknowledge the Disclaimer below and click the FINISH button to proceed with generating your report.</h1>
				<p>This is a Material-only ROM/Budgetary Price Quotation. This quote represents our best assessment of the ROM material categories and quantities required to develop the DAS solution per minimum viable inputs (MVI) stated by the user. This quotes but may be subject to variations due to factors beyond our control. The accuracy of this ROM quote is limited to the confines of the accuracy and industry best practices relating to standards for Budget Estimates of -10% to +25%.</p>
			</div>
		</div>
	</div>
<% end %>

<% if first.present? && project_id.present? %>
	<% if static_page.present? && static_page.disclaimer_acknowledgement.present? %>
	  <%= static_page.disclaimer_acknowledgement.html_safe %>
	<% else %>
	  <div class="Disclaimer whiteBkg">
	    <div class="container">
	      <div class="max960width">
	        <div class="clearfix tac boldHD"> Disclaimer</div>
	        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
	        <label><input type="checkbox" name="acknowledge" id="disclaimer_acknowledge"> I have read and acknowledge the above disclaimer.</label>
	      </div>
	    </div>
	  </div>
	  <!-- Disclaimer Acknowledge Modal -->
	  <div class="modal fade" id="acknowledge_show" tabindex="-1" role="dialog" aria-labelledby="DisclaimerShowLabel">
	    <div class="modal-dialog modal-sm small-modal-margin">
	      <div class="modal-content text-center">
	        <div class="modal-header">
	          <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
	          <h4 id="DisclaimerShowLabel" class="modal-title">You must acknowledge the above disclaimer.</h4>
	        </div>
	        <div class="modal-footer text-align-center btn_center margin-top-0">
	          <%= link_to "OK", "javascript:;", class: "btn_start padding-10 margin-right-0", data: {dismiss: "modal"} %>
	        </div>
	      </div>
	    </div>
	  </div>
	<% end %>
	<div class="stepOuterNext stepOuterLast">
		<div class="container">
			Click the Finish Button to get your Report!
			<div class="nextBtn mt20">
				<%= link_to "Finish", "javascript:;", class: "orangeBtn", id: "finish_btn" %>
				<% if facility == "Tunnel" %>
    			<%= link_to "", report_tunnel_project_path(project_id, first: first, facility: facility), remote: true, class: "hide", id: "finish_hide_btn" %>
    		<% else %>
    			<%= link_to "", report_project_path(project_id, first: first, facility: facility), remote: true, class: "hide", id: "finish_hide_btn" %>
    		<% end %>
				<script type="text/javascript">
				  $(function(){
				    $("#finish_btn").click(function(){
				      if($("#disclaimer_acknowledge").is(":checked") == true) {
				      	<% if facility == "Tunnel" %>
				        	$.post( "<%= update_disclaimer_tunnel_project_path(project_id) %>", { disclaimer_acknowledge: "true" });
				        <% else %>
				        	$.post( "<%= update_disclaimer_project_path(project_id) %>", { disclaimer_acknowledge: "true" });
				        <% end %>
				      } else {
				        $("#acknowledge_show").modal("show");
				      }
				    });
				  });
				</script>
			</div>
		</div>
	</div>
<% else %>
	<div class="stepOuterNext stepOuterLast">
		<div class="container">
			<div class="nextBtn mt20">
				<%= link_to "Back", quick_start_step2_path, remote: true, class: "grayBtn" %> &nbsp;
				<%= link_to "Finish", dashboard_path, remote: true, class: "orangeBtn" %>
			</div>
		</div>
	</div>
<% end %>
