<% content_for(:title) do %>
  Quick Start
<% end %>

<% if static_page.present? && static_page.quick_start.present? %>
  <%= static_page.quick_start.html_safe %>
<% else %>
	<div class="grayOuter">
		<div class="container">
			<div class="stepInnerContnt">
				<h1 class="clearfix tac boldHD quick_start_h1"> Quick-Start Guide</h1>
					<h2 class="grayMainGD">On this page you will find all the necessary information to enable you to get your projects started <br>
					and completed in the shortest time possible. </h2>
					<p>So, ignore the temptation to skip this section- you’ll be glad you did- and you’ll benefit immensely in the long run</p>
				<iframe  src="https://www.youtube.com/embed/6v2L2UGZJAM" allowfullscreen class="videoFrame" ></iframe>
			</div>
		</div>
	</div>
	<div class="Disclaimer whiteBkg">
		<div class="container">
			<div class="max960width">
				<div class="clearfix tac boldHD quick_start_h1"> How it works</div>
					<p>The software produces and delivers a rough order of magnitude (ROM) estimate of the Bill of Materials (BOM) for wireless signal coverage extension systems within Buildings or Tunnels in 3 easy steps.</p>
				<div class="row mt40">
					<div class="col-sm-4">
						<div class="box box1">
							<span>
								<div class="imageIcon"> <%= image_tag "1a.png", alt: "" %> <%= image_tag "1.png", alt: "", class: "numbers" %> </div>
							</span>
							<div class="bold">Step 1</div>
						  <div>Input building or tunnel data.</div>	
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box box2">
							<span>
								<div class="imageIcon"> <%= image_tag "2b.png", alt: "" %> <%= image_tag "2.png", alt: "", class: "numbers" %> </div>
							</span>
							<div class="bold">Step 2</div>
							<div>Input system and target performance data as required.</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="box box3">
							<span><div class="imageIcon"> <%= image_tag "3c.png", alt: "" %> <%= image_tag "3.png", alt: "", class: "numbers" %> </div>
							</span>
							<div class="bold">Step 3</div>
							<div>Acknowledge the disclaimer and hit the "Next" button to get your report!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="stepOuterNext stepOuterLast">
	<div class="container">
		Now that you've gone through the quick-start introductory training, you're ready to rock!<br>
		Click the button and let's get started!
		<div class="nextBtn mt20">
			<% if first.present? %>
				<%= link_to "Start Project", dashboard_path(first: 1), remote: true, class: "orangeBtn" %>
			<% else %>
				<%= link_to "Start Project", dashboard_path, remote: true, class: "orangeBtn" %>
			<% end %>
		</div>
	</div>
</div>
