$("#container_content").html("<%= j(render partial: 'credits', locals: { subscriptions: @subscriptions, page: @page, static_page: @static_page }) %>");
document.title = "Credits"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= credits_path(page: @page) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}
set_footer();
$('html').scrollTop(0);