$("#container_content").html("<%= j(render partial: 'quick_start_step2', locals: { first: @first, facility: @facility, project_id: @project_id, static_page: @static_page }) %>");
document.title = "Quick Start Step2"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= quick_start_step2_path(first: @first, facility: @facility, project_id: @project_id) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);