$("#container_content").html("<%= j(render partial: 'welcome', locals: { static_page: @static_page }) %>");
document.title = "Welcome"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= root_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);
