<!-- HeaderOuter -->
<header>
	<div class="container">
		<div class="row">
			<% if user_signed_in? %>
				<% if static_page.present? && static_page.header_logged_in.present? %>
				  <%= static_page.header_logged_in.html_safe %>
				<% else %>
					<div class="col-sm-4 logoOuter">
						<%= link_to root_path, class: "logo", remote: true do %>
							<%= image_tag "logo.jpg", alt: "Logo" %>
						<% end %>
					</div>
					<div class="col-sm-8">
						<div class="text-right alreadyMEm logoutOuter"> <%= link_to t('links.logout'), destroy_user_session_path, method: :delete, class: "signIn logout" %></div>
						<div class="nav">
							<ul>
								<li class="i1"> <%= link_to " ", root_path, remote: true %> </li>
								<li class="i2"> <%= link_to " ", projects_path, remote: true %> </li>
								<li class="i3"> <%= link_to " ", tunnel_projects_path, remote: true %> </li>
								<li class="i4"> <%= link_to " ", "#{edit_user_registration_path}#myplan", remote: true %> </li>
							</ul>
						</div>
					</div>
				<% end %>
			<% else %>
				<% if static_page.present? && static_page.header_not_logged_in.present? %>
				  <%= static_page.header_not_logged_in.html_safe %>
				<% else %>
					<div class="col-sm-4 logoOuter">
						<%= link_to root_path, class: "logo", remote: true do %>
							<%= image_tag "logo.jpg", alt: "Logo" %>
						<% end %>
					</div>
					<div class="col-sm-8">
						<div class="text-right alreadyMEm">Already a Member ? <%= link_to t('links.login'), "javascript:;", class: "signIn", data: {toggle: "modal", target: "#login"} %></div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</header>
<!-- HeaderOuter End-->

<!-- 
<ul>
	<li><%#= link_to t('links.home'), root_path, remote: true %></li>
	<li><%#= link_to t('links.about_us'), about_us_path, remote: true %></li>
	<li><%#= link_to t('links.pricing'), pricing_path, remote: true %></li>
	<li><%#= link_to t('links.forum'), '#'%></li>
	<li><%#= link_to t('links.training'), '#'%></li>
	<li><%#= link_to t('links.contact_us'), contact_us_path, remote: true %></li>
	<li><%#= link_to t('links.help'), help_path, remote: true %></li>
	<li><%#= link_to t('links.terms_and_conditions'), terms_and_conditions_path, remote: true %></li>
	<%# if user_signed_in? %>
		<li><%#= link_to t('links.edit_profile'), edit_user_registration_path, remote: true %></li>
	<%# end %>
</ul>

<div id="user_nav">
  <%# if user_signed_in? %>
    <%#= t('links.signed_as', user: current_user.email) %>
    <%#= link_to t('links.sign_out'), destroy_user_session_path, method: :delete %>
  <%# else %>
    <%#= link_to t('links.sign_up'), new_user_registration_path, remote: true %> or <%#= link_to t('links.sign_in'), new_user_session_path, remote: true %>
  <%# end %>
</div>
 -->