<% if static_page.present? && static_page.left_image.present? && static_page.left_image.file.exists? %>
  <%= image_tag static_page.left_image.url, alt: "", class: "img-responsive" %>
<% else %>
  <%= image_tag "building_lft.jpg", alt: "", class: "img-responsive" %>
<% end %>