<% if static_page.present? && static_page.right_image.present? && static_page.right_image.file.exists? %>
  <%= image_tag static_page.right_image.url, alt: "", class: "img-responsive" %>
<% else %>
  <%= image_tag "freedom.jpg", alt: "", class: "img-responsive" %>
<% end %>