<% content_for(:title) do %>
  About Us
<% end %>

<!--Start About us-->
<% if static_page.present? && static_page.about_us.present? %>
  <%= static_page.about_us.html_safe %>
<% else %>
	<div class="aboutCon">
		<div class="aboutUsCon">
	    <div class="innerContainer">	
	    	<h1 class="quick_start_h1">About us</h1>
	      <p>In line with our philosophy of seeking to dramatically improve the efficiency of fundamental processes involved in the typical DAS-based business, we have developed a unique, time-tested, Rapid System Design Assessment and Quote (RSDAQ™) method, practically realized as a scaleable software platform known as our RSDAQ™ Engine. This web-based software enables rapid delivery of a rough order-of-magnitude (ROM) estimate of the Bill of Materials (BOM) for a Distributed Antenna System (DAS) used for wireless signal coverage extension within Buildings or Tunnels.</p>
	      <p>Any of our subscribers can now gain the incredible benefits of lightning-fast DAS Equipment Cost Estimates and BOMs generated simultaneously for up to 10 Buildings (and more) in less than 15 minutes - in 3 easy steps! </p>
	      <br>
      	<p><strong>RSDAQ™ Engine Version 1.0.0.5 Patent Pending </strong></p>
	      <br>
	      <br>
	      <p>This software is protected by copyright laws and international treaties </p>
	      <p>RSDAQ is a trademark of XXXXX Inc. </p>
	      <p>Copyright © 2015. All Rights Reserved. </p>
	      <p>This software is made available subject to the terms of the licence information set forth in the Terms and Conditions of use. This Product was created by XXXX Inc. All internal contributors and developers are acknowledged. </p>
	    </div>
	  </div>
	</div>
<% end %>
<!--End About us-->
