<% content_for(:title) do %>
  Contact Us
<% end %>

<!--Start contact us-->
<% if static_page.present? && static_page.contact_us.present? %>
  <%= static_page.contact_us.html_safe %>
<% else %>
  <div class="contactMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55613461.81318646!2d-146.61479896957405!3d31.70561343684153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b30b71698e729d%3A0x131328839761a382!2sNorth+America!5e0!3m2!1sen!2sin!4v1447843417347" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="addressCon">
    <h1 class="quick_start_h1"> We are based in North America</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec lectus gravida, fringilla nunc id, cursus orci. Nulla efficitur ut tortor ac dapibus. Phasellus dignissim elementum diam eget tempor.</p>
    <ul>
      <li>
      	<%= image_tag "address.png", alt: "" %>
        <p>Consulting Lorem ipsum dolor sit amet.</p>
      </li>
      <li>
      	<%= image_tag "phone.png", alt: "" %>
        <p>(909) 949-9083</p>
       </li>
      <li>
      	<%= image_tag "email.png", alt: "" %>
        <p>info@example.com</p>
      </li>
    </ul>
  </div>
  <div class="formbox">
    <div class="formOuter">
      <div class="blackHD quick_start_h1">reach out to us today</div>
      <div class="row">
      	<%= form_for(contact, url: save_contact_us_path, method: :post, remote: true) do |f| %>
      		<div class="col-sm-12" id="message">
      			<div class="alert alert-info fade in margin-bottom-10">
      				<a data-dismiss="alert" class="close position-inherit">x</a>
      				<div id="return_message"></div>
      			</div>
      		</div>
          <div class="clearfix"></div>
  	      <div class="col-xs-6 prz">
  	        <%= f.text_field :first_name, autofocus: true, required: true, class: "form-control inputText mb5", placeholder: "First name" %>
  	      </div>
  	      <div class="col-xs-6 plz">
  	        <%= f.text_field :last_name, required: true, class: "form-control inputText mb5", placeholder: "Last name" %>
  	      </div>
          <div class="clearfix"></div>
  	      <div class="col-xs-6 prz">
  	        <%= f.email_field :email, required: true, class: "form-control inputText mb5 mt15", placeholder: "Email Address" %>
  	      </div>
  	      <div class="col-xs-6 plz">
  	        <%= f.text_field :contact_number, required: true, class: "form-control inputText mb5 mt15", placeholder: "Contact Number" %>
  	      </div>
          <div class="clearfix"></div>
  	      <div class="col-xs-12">
      			<%= f.text_area :message, required: true, class: "form-control inputText mb5 mt15", placeholder: "Enter Message" %>
  	      </div>
          <div class="clearfix"></div>
  	      <div class="col-xs-12">
  	        <%= f.submit class: "form-control inputText inputSub", value: "Submit" %>
  	      </div>
  	    <% end %>
      </div>
    </div>
  </div>
<% end %>
<!--End contact us-->

<script type="text/javascript">
  jQuery.validator.addMethod('phone', function(phone_number, element) {
    return this.optional(element) || phone_number.match(/^[0-9]\d*$/);
    });

  $(document).ready(function(){
    $("#new_contact").validate({
      errorPlacement: function(error, element) {
        error.insertAfter( element );
      },
      rules: {
        "contact[first_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "contact[last_name]": {
          required: true,
          noSpace: true,
          maxlength: 125
        },
        "contact[email]": {
          required: true,
          email: true,
          noSpace: true,
          maxlength: 255
        },
        "contact[contact_number]": {
          required: true,
          phone: true,
          minlength: 8,
          maxlength: 15
        },
        "contact[message]": {
          required: true,
          noSpace: true,
          minlength: 4,
          maxlength: 65000
        }
      },
      messages: {
        "contact[first_name]": {
          required: "Please enter your First Name.",
          noSpace: "Please enter valid First Name."
        },
        "contact[last_name]": {
          required: "Please enter your Last Name.",
          noSpace: "Please enter valid Last Name."
        },
        "contact[email]": {
          required: "Please enter your Email Address.",
          email: "Please enter valid Email Address.",
          noSpace: "Please enter valid Email Address."
        },
        "contact[contact_number]": {
          required: "Please enter your Contact Number.",
          phone: "Please enter valid Contact Number.",
          minlength: "Your Contact Number must be of minimum 8 digits.",
          maxlength: "Your Contact Number must be of maximum 15 digits."
        },
        "contact[message]": {
          required: "Please enter your Message.",
          noSpace: "Please enter valid Message.",
          minlength: "Your Message must contain minimum 4 characters."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
