<% content_for(:title) do %>
  Pricing
<% end %>

<div class="grayOuter">
	<div class="container">
		<div class="stepInnerContnt">
			<% if static_page.pricing.present? %>
				<%= static_page.pricing.try(:html_safe) %>
			<% else %>
				<div class="clearfix tac boldHD my-acc-edit"> Choose Your Plan</div>
				<p class="mt20">Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC</p>
			<% end %>

			<% if static_page.building_pricing.present? %>
				<%= static_page.building_pricing.try(:html_safe) %>
			<% else %>
				<div class="planOuter">
					<table class="planTable">
						<tr class="planRow">
							<th></th>
							<th class="greenColor">Basic<br/>(Building Only)</th>
							<th class="blueColor">Standard<br/>(Building Only)</th>
							<th class="orangeColor">Professional<br/>(Building Only)</th>
						</tr>
						<tr class="priceRow">
							<td> <div class="bold"> Subscription (billed on signup as Annual payment) </div></td>
							<td> $ <span class="price">97<span class="month">/month</span> </span></td>
							<td> $ <span class="price">197<span class="month">/month</span></span></td>
							<td> $ <span class="price">297<span class="month">/month</span></span></td>
						</tr>
					</table>
					<table class="planDetails" cellspacing="5" cellpadding="5">
						<tr>
							<td>Ideal for</td>
							<td>Occasional/Casual Use</td>
							<td>Everyday Quotation Use</td>
							<td>Enterprise Quotation Use</td>
						</tr>
						<tr>
							<td>Max Number of (Simultaneous ) Quotes per instance</td>
							<td>10</td>
							<td>10</td>
							<td>100</td>
						</tr>
						<tr>
							<td>Easy, Drag‐and‐Drop Floor Plan  Tool</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Usage Credit</td>
							<td>10 Free Credits, One‐time</td>
							<td>10 Free Per Mth.</td>
							<td>30 Free per Mth.</td>
						</tr>
						<tr>
							<td>8/7 email support</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>8/5 Phone support</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Real-time chat support</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Long term Quote Data Storage</td>
							<td>3 Mths.</td>
							<td>6 Mths.</td>
							<td>12 Mths.</td>
						</tr>
						<tr>
							<td> Add your Company Logo</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Download design report as XLS or PDF</td>
							<td>PDF Only</td>
							<td>PDF Only</td>
							<td>PDF Only</td>
						</tr>
						<tr>
							<td>Upload Floorplans</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>B2B Portal Access</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Forum Access and Membership</td>
							<td>Basic Members Area Only</td>
							<td>Standard Members Area Only</td>
							<td>Full Members Areas Access</td>
						</tr>
						<tr>
							<td>DAS Installation Layout Feature</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>BOM Qty and Material  Description</td>
							<td>Lot pricing, Line Item Description, Qty only; no Part Nos</td>
							<td>Line Item Description, Qty and Pricing; no Part Nos.</td>
							<td>Line Item Description, Qty, Pricing and Part Nos.</td>
						</tr>
						<tr>
							<td>BOM Part Numbers and Pricing Comparisons</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Potential Supplier List and Contact Info.</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>XLS file upload for Batch Processing</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Online Help Documentation</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Spare Parts Quote: BOM, Qty and Material Description</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
					</table>
				</div>
			<% end %>

			<table class="planDetails" cellspacing="5" cellpadding="5">
				<tr class="signUpRow">
					<%= building_plans(current_user, static_page).html_safe %>
				</tr>
			</table>

			<% if static_page.tunnel_pricing.present? %>
				<%= static_page.tunnel_pricing.try(:html_safe) %>
			<% else %>
				<div class="planOuter">
					<table class="planTable">
						<tr class="planRow">
							<th></th>
							<th class="greenColor">Basic<br/>(Tunnel Only)</th>
							<th class="blueColor">Standard<br/>(Tunnel Only)</th>
							<th class="orangeColor">Professional<br/>(Tunnel Only)</th>
						</tr>
						<tr class="priceRow">
							<td> <div class="bold"> Subscription (billed on signup as Annual payment) </div></td>
							<td> $ <span class="price">97<span class="month">/month</span> </span></td>
							<td> $ <span class="price">197<span class="month">/month</span></span></td>
							<td> $ <span class="price">297<span class="month">/month</span></span></td>
						</tr>
					</table>
					<table class="planDetails" cellspacing="5" cellpadding="5">
						<tr>
							<td>Ideal for</td>
							<td>Occasional/Casual Use</td>
							<td>Everyday Quotation Use</td>
							<td>Enterprise Quotation Use</td>
						</tr>
						<tr>
							<td>Max Number of (Simultaneous ) Quotes per instance</td>
							<td>10</td>
							<td>10</td>
							<td>100</td>
						</tr>
						<tr>
							<td>Easy, Drag‐and‐Drop Floor Plan  Tool</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Usage Credit</td>
							<td>10 Free Credits, One‐time</td>
							<td>10 Free Per Mth.</td>
							<td>30 Free per Mth.</td>
						</tr>
						<tr>
							<td>8/7 email support</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>8/5 Phone support</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Real-time chat support</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Long term Quote Data Storage</td>
							<td>3 Mths.</td>
							<td>6 Mths.</td>
							<td>12 Mths.</td>
						</tr>
						<tr>
							<td> Add your Company Logo</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Download design report as XLS or PDF</td>
							<td>PDF Only</td>
							<td>PDF Only</td>
							<td>PDF Only</td>
						</tr>
						<tr>
							<td>Upload Floorplans</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>B2B Portal Access</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Forum Access and Membership</td>
							<td>Basic Members Area Only</td>
							<td>Standard Members Area Only</td>
							<td>Full Members Areas Access</td>
						</tr>
						<tr>
							<td>DAS Installation Layout Feature</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>BOM Qty and Material  Description</td>
							<td>Lot pricing, Line Item Description, Qty only; no Part Nos</td>
							<td>Line Item Description, Qty and Pricing; no Part Nos.</td>
							<td>Line Item Description, Qty, Pricing and Part Nos.</td>
						</tr>
						<tr>
							<td>BOM Part Numbers and Pricing Comparisons</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Potential Supplier List and Contact Info.</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>XLS file upload for Batch Processing</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Online Help Documentation</td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
						<tr>
							<td>Spare Parts Quote: BOM, Qty and Material Description</td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/cross.png" alt=""></td>
							<td><img src="/assets/tic.png" alt=""></td>
						</tr>
					</table>
				</div>
			<% end %>

			<table class="planDetails" cellspacing="5" cellpadding="5">
				<tr class="signUpRow">
					<%= tunnel_plans(current_user, static_page).html_safe %>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(function() {
    $(".signUp").click(function() {
      var url = $(this).data("href");
      if (url.contains("?test=1")) {
      	url += "&custom=<%= current_user.id %>";
      } else {
      	url += "?custom=<%= current_user.id %>";
      }
      window.location = url;
    });
  });
</script>