$("#container_content").html("<%= j(render partial: 'help', locals: { static_page: @static_page }) %>");
document.title = "Help Support"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= faq_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

$(".faqCon strong").on("click", function(e){
  if($(this).parent().has("ul")) {
    e.preventDefault();
  }
  
  if(!$(this).hasClass("opens")) {
    // hide any open menus and remove all other classes
    $(".faqCon p").slideUp(350);
    $(".faqCon strong").removeClass("opens");
    
    // open our new menu and add the open class
    $(this).next("p").slideDown(350);
    $(this).addClass("opens");
  }
  
  else if($(this).hasClass("opens")) {
    $(this).removeClass("opens");
    $(this).next("p").slideUp(350);
  }
});

set_footer();
$('html').scrollTop(0);