$("#message").show();
$("#return_message").html("<%= @message %>");
<% if @saved %>
	$("#contact_first_name").val("");
	$("#contact_last_name").val("");
	$("#contact_email").val("");
	$("#contact_contact_number").val("");
	$("#contact_message").val("");
<% end %>

set_footer();