$("#container_content").html("<%= j(render partial: 'terms_and_conditions', locals: { static_page: @static_page }) %>");
document.title = "Terms of Use"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= terms_and_conditions_path %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);