<% content_for(:title) do %>
  Project Details
<% end %>
<div class="grayOuter padding_50">
  <div class="container">
    <div class="building1">
      <div class="row">
        <div class="col-sm-3">
          <%= render partial: 'shared/left_image', locals: { static_page: static_page } %>
        </div>
        <div class="col-sm-6">
          <%= form_for(project, url: update_building_services_project_path(project), method: :post, remote: true, html: {id: "building_services_details"}) do |f| %>
            <%= hidden_field_tag :first, first %>
            <%= hidden_field_tag :facility, facility %>
            <div class="col-sm-12" id="error_messages"><%= model_error_messages(project) %></div>
            <div class="b_data building_b">
              <%= static_page.building_band_and_services.try(:html_safe) %>
              <div class="building_bx">
                <label>nO. of Services to extend</label>
                <div class="input_box">
                  <div class="selctFormBox mb5">
                    <% if project.present? && project.number_of_services.present? %>
                      <input type="text" value="<%= project.number_of_services %>" readonly class="selectInput">
                    <% else %>
                      <input type="text" value="Select" readonly class="selectInput">
                    <% end %>
                    <%= f.select :number_of_services, NumberOfService.order("services ASC").collect {|nos| [ nos.services, nos.services ] }, { include_blank: false, prompt: "Select" }, autofocus: true, required: true, class: "select" %>
                  </div>
                  <div id="number_of_services_error"></div>
                  <div class="question"><%= static_page.help_number_of_services.try(:html_safe) %></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="building_bx">
                <label>Highest Freq. Band (MHz)</label>
                <div class="input_box">
                  <div class="selctFormBox mb5">
                    <% if project.present? && project.highest_frequency_band.present? %>
                      <input type="text" value="<%= project.highest_frequency_band %>" readonly class="selectInput">
                    <% else %>
                      <input type="text" value="Select" readonly class="selectInput">
                    <% end %>
                    <%= f.select :highest_frequency_band, HighestFrequencyBand.order("frequency ASC").collect {|hfb| [ hfb.frequency, hfb.frequency ] }, { include_blank: false, prompt: "Select" }, required: true, class: "select" %>
                  </div>
                  <div id="highest_frequency_band_error"></div>
                  <div class="question"><%= static_page.help_highest_frequency_band.try(:html_safe) %></div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="b_data building_b m_top">
              <%= static_page.building_band_and_services.try(:html_safe) %>
              <div class="building_bx frequencyChannelsMB0">
                <label>nO. of frequency channels</label>
                <div class="input_box">
                  <div class="selctFormBox">
                    <% if project.present? && project.product_frequency_channel_id.present? %>
                      <input type="text" value="<%= ProductFrequencyChannel.find_by_id(project.product_frequency_channel_id).try(:number_of_channels) %>" readonly class="selectInput">
                    <% else %>
                      <input type="text" value="Select" readonly class="selectInput">
                    <% end %>
                    <%= f.select :product_frequency_channel_id, ProductFrequencyChannel.order("number_of_channels ASC").collect {|pfc| [ pfc.number_of_channels, pfc.id ] }, { include_blank: false, prompt: "Select" }, class: "select" %>
                  </div>
                  <div class="question"><%= static_page.help_frequency_channels.try(:html_safe) %></div>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="building_bx">
                <label class="hide-small">&nbsp;</label>
                <div class="input_box">
                  <div class="radio">
                    <label class="wauto pl20-small"><%= radio_button_tag "autoselect_channel", "no", true %> I don't know (Auto select) </label>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="btn_center">
              <%= link_to "Clear", "javascript:;", class: "btn_cancel", id: "clearform" %>
              <%= link_to "Back", building_entry_path(project, facility: facility, first: first), remote: true, class: "btn_back" %>
              <%= f.submit "Next", class: "btn_start btn-next" %>
            </div>
          <% end %>
        </div>
        <div class="col-sm-3">
          <div class="b_stepbox">
            <div class="stp_line"><span class="active"><div class="circle green_circle"></div></span><span class="active"></span><span class="active"></span></div>
            <div class="stp_line"><span><div class="circle lgreen_circle"></div></span></div>
            <div class="stp_line last"><span><div class="circle orange_circle"></div></span></div>
          </div>
          <%= image_tag "s1g.png", alt: "", class: "step1" %>
          <%= render partial: 'shared/right_image', locals: { static_page: static_page } %>
        </div>
      </div>  
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.select').change(function(){
      var a = $(this).find('option:selected').text();
      $(this).prev('.selectInput').val(a);
    });

    $('#clearform').click(function() {
      $("#building_services_details").get(0).reset();
    });

    <% if project.product_frequency_channel_id.present? %>
      $("#autoselect_channel_no").attr("checked", false);
    <% end %>

    $("#project_product_frequency_channel_id").change(function(){
      if($(this).val().length > 0) {
        $("#autoselect_channel_no").attr("checked", false);
      } else {
        $("#autoselect_channel_no").attr("checked", true);
        $("#autoselect_channel_no").click();
      }
    });

    $("#autoselect_channel_no").change(function(){
      if ($('input[name=autoselect_channel]:checked').length > 0) {
        $("#project_product_frequency_channel_id").val("");
        $(this).closest('.building_bx').prev().find('.selectInput').val("Select");
      }
    });

    $("#building_services_details").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "project[number_of_services]") {
          error.appendTo($("#number_of_services_error"));
        } else if(element.attr("name") == "project[highest_frequency_band]") {
          error.appendTo($("#highest_frequency_band_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "project[number_of_services]": {
          required: true
        },
        "project[highest_frequency_band]": {
          required: true
        }
      },
      messages: {
        "project[number_of_services]": {
          required: "Please select No. of Services to Extend."
        },
        'project[highest_frequency_band]':{
          required: "Please select Highest Frequency Band."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>
