<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="formOuter formOuterTunnel">
        <%= static_page.building_data_entry.try(:html_safe) %>
        <%= form_for(building_data_entry, url: save_building_data_entry_project_path(project), method: :post, remote: true, html: {id: "building_data_details"}) do |f| %>
          <div class="row">
            <div class="col-sm-12" id="building_error_messages"><%= model_error_messages(building_data_entry) %></div>
            <div class="col-sm-12" id="message">
              <div class="alert alert-info fade in margin-bottom-10">
                <a data-dismiss="alert" class="close position-inherit">x</a>
                <div id="return_message"></div>
              </div>
            </div>
            <div class="col-xs-5">
              <%= f.text_field :building_name, autofocus: true, required: true, placeholder: "Building Name", class: "form-control inputText mb5" %>
            </div>        
            <div class="col-xs-7">
              <label class="rightTooltip">Building Name 
                <div class="question"><%= static_page.help_building_name.try(:html_safe) %></div>
              </label>
            </div>
            <div class="clearfix"></div>
            <div class="mt10">
              <div class="col-xs-3">
                <div class="selctFormBox mb5">
                  <% if building_data_entry.building_number.present? %>
                    <input type="text" id="building_data_entry_building_number_txtval" value="<%= building_data_entry.building_number %>" readonly class="selectInput">
                  <% else %>
                    <input type="text" id="building_data_entry_building_number_txtval" value="Select" readonly class="selectInput">
                  <% end %>
                  <select id="building_data_entry_building_number" name="building_data_entry[building_number]" required="required" class="select">
                    <option value="">Select</option>
                    <% (1..building.number_of_buildings).to_a.each do |build_number| %>
                      <option value="<%= build_number %>" <%="selected" if build_number==building_data_entry.building_number %> ><%= build_number %></option>
                    <% end %>
                  </select>
                </div>
                <div id="building_number_error"></div>
              </div>
              <div class="col-xs-3 padd_lft0">
                <label class="rightTooltip">Select Bldg. No. 
                  <div class="question"><%= static_page.help_building_number.try(:html_safe) %></div>
                </label>
              </div>
              <div class="col-xs-3 padd_lft0">
                <div class="selctFormBox mb5">
                  <% if building_data_entry.number_of_floors.present? %>
                    <input type="text" id="building_data_entry_number_of_floors_txtval" value="<%= building_data_entry.number_of_floors %>" readonly class="selectInput">
                  <% else %>
                    <input type="text" id="building_data_entry_number_of_floors_txtval" value="Select" readonly class="selectInput">
                  <% end %>
                  <%= f.select :number_of_floors, NumberOfFloor.all.collect {|nof| [ nof.floors, nof.floors ] }, { include_blank: false, prompt: "Select", select: building_data_entry.number_of_floors }, required: true,  class: "select" %>
                </div>
                <div id="number_of_floors_error"></div>
              </div>
              <div class="col-xs-3 padd_lft0 padd_rgt0">
                <label class="rightTooltip">Select No. of Floors 
                  <div class="question"><%= static_page.help_number_of_floors.try(:html_safe) %></div>
                </label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 mt20 tac mt10 rightTooltip">
              <label> <%= check_box_tag "no_floor_area", "no", false %> Check Here for Quick Area Data Entry (Enter Total Building Floor Area)</label>
              <div class="question"><%= static_page.help_quick_area_data_entry.try(:html_safe) %></div>
            </div>
            <div class="clearfix"></div>
            <div class="mt5">
              <div class="col-xs-5">
                <%= f.text_field :floor_number, placeholder: "Floor No.", class: "form-control inputText mb5" %>
                <!-- <div id="floor_number_error"></div> -->
              </div>
              <div class="col-xs-7">
                <label class="rightTooltip margin-top-20 mb5"> Now Entering Area for this Floor No.</label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :area_this_floor, autocomplete: "off", placeholder: "(Sq.Ft.) Area - This Floor", class: "form-control inputText mb5" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip margin-top-20 mb5"> (Sq.Ft.) Area - This Floor</label>
            </div>

            <div class="clearfix"></div>
            <div class="col-xs-5">
              <%= f.text_field :total_area_building, autocomplete: "off", placeholder: "(Sq.Ft.) Total Area of Building", class: "form-control inputText mb5" %>
              <%= hidden_field_tag "total_building_area", "" %>
            </div>
            <div class="col-xs-7">
              <label class="rightTooltip margin-top-20 mb5"> (Sq.Ft.) Total Area of Building</label>
            </div>

            <div class="clearfix"></div>
            <div class="mt10">
              <div class="col-xs-10">
                <div class="selctFormBox mb5">
                  <input type="text" id="building_data_entry_building_slope_txtval" value="Select Environment for this building or floor" readonly class="selectInput">
                  <%= f.select :building_slope, BuildingEnvironment.all.collect {|be| [ be.environment, be.building_indoor_factor ] }, { include_blank: false, prompt: "Select Environment for this building or floor" }, required: true, class: "select" %>
                </div>
                <div id="building_slope_error"></div>      
              </div>
              <div class="col-xs-2">
                <label class="rightTooltip">
                  <div class="question"><%= static_page.help_building_environment.try(:html_safe) %></div>
                </label>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="text-center col-sm-12">
              <div class="btn_center btn_center enterData mt10">
                <%= link_to "Close", "javascript:;", class: "btn_cancel", data: {dismiss: "modal"} %>
                <%= f.submit "Enter Data", class: "form-control inputSub" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.select').change(function(){
      var a = $(this).find('option:selected').text();
      $(this).prev('.selectInput').val(a);
    });

    $('#building_data_entry_building_number').change(function(){
      if($(this).val().length > 0) {
        $.get( "<%= get_total_area_building_project_path(project) %>", { building_number: $(this).val() });
      }
    });

    $('#building_data_entry_area_this_floor').keyup(function(){
      area_this_floor = 0
      total_building_area = 0
      if($("#building_data_entry_area_this_floor").val().length > 0) {
        area_this_floor = parseInt($("#building_data_entry_area_this_floor").val());
        if($("#total_building_area").val().length > 0) {
          total_building_area = parseInt($("#total_building_area").val());
        }
      } else {
        $("#building_data_entry_total_area_building").val("");
      }
      total_area = area_this_floor + total_building_area
      if(total_area > 0) {
        $("#building_data_entry_total_area_building").val(total_area);
      }
    });

    // $("#building_data_entry_number_of_floors").change(function(){
    //   if($(this).val().length > 0){
    //     $("#building_data_entry_floor_number").html("<option value=''>Enter Data for this Floor Number</option>");
    //     for ( var i = 1, l = $(this).val(); i <= l; i++ ) {
    //       $("#building_data_entry_floor_number").append("<option value='"+i+"'>"+i+"</option>");
    //     }
    //   } else {
    //     $("#building_data_entry_floor_number").html("<option value=''>Enter Data for this Floor Number</option>");
    //   }
    // });
    
    $("#no_floor_area").change(function(){
      if($(this).is(":checked") == true) {
        $("#building_data_entry_area_this_floor").val("");
        $("#building_data_entry_floor_number").val("");
        // $("#building_data_entry_floor_number").prev('.selectInput').val("Enter Data for this Floor Number");
        // $("#building_data_entry_floor_number").prev('.selectInput').addClass("bc-eee");
        // $("#building_data_entry_floor_number").prev('.selectInput').parent('.selctFormBoxLArg').addClass("bc-eee");
        // $("#building_data_entry_floor_number").addClass("cursor-not-allowed");
        $("#building_data_entry_area_this_floor").attr("disabled", "disabled");
        $("#building_data_entry_floor_number").attr("disabled", "disabled");
        // $("#floor_number_error").html("");
        $("#building_data_entry_area_this_floor-error").remove();
      } else {
        $("#building_data_entry_area_this_floor").val("");
        $("#building_data_entry_area_this_floor").removeAttr("disabled");
        $("#building_data_entry_floor_number").removeAttr("disabled");
        $("#building_data_entry_total_area_building").val("");
        // $("#building_data_entry_floor_number").prev('.selectInput').removeClass("bc-eee");
        // $("#building_data_entry_floor_number").prev('.selectInput').parent('.selctFormBoxLArg').removeClass("bc-eee");
        // $("#building_data_entry_floor_number").removeClass("cursor-not-allowed");
        // if($("#building_data_entry_number_of_floors").val().length > 0){
        //   $("#building_data_entry_floor_number").html("<option value=''>Enter Data for this Floor Number</option>");
        //   for ( var i = 1, l = $("#building_data_entry_number_of_floors").val(); i <= l; i++ ) {
        //     $("#building_data_entry_floor_number").append("<option value='"+i+"'>"+i+"</option>");
        //   }
        // }
      }
    });

    $("#building_data_details").bind('ajax:complete', function(){
      floor_number = parseInt($("#building_data_entry_floor_number").val());
      number_of_floors = parseInt($("#building_data_entry_number_of_floors").val());
      building_number = parseInt($("#building_data_entry_building_number").val());
      number_of_buildings = parseInt("<%=building.number_of_buildings%>");
      if(building_number == number_of_buildings && (floor_number == number_of_floors || $("#no_floor_area").attr('checked', true))){
        $("#building_data_entry_building_name").val("");
        $("#building_data_entry_building_number_txtval").val("Select");
        $("#building_data_entry_building_number").val("");
        $("#building_data_entry_number_of_floors_txtval").val("Select");
        $("#building_data_entry_number_of_floors").val("");
        $("#building_data_entry_floor_number").val("");
      }
      else if(floor_number < number_of_floors) {
        $("#building_data_entry_floor_number").val(floor_number+1);
      } else {
        $("#building_data_entry_floor_number").val(1);
        $("#building_data_entry_building_name").val("");
        $("#building_data_entry_number_of_floors").val("");
        $("#building_data_entry_number_of_floors_txtval").val("Select");
        if(building_number < number_of_buildings) {
          $("#building_data_entry_building_number").val(building_number+1);
          $("#building_data_entry_building_number_txtval").val(building_number+1);
        } else {
          $("#building_data_entry_building_number").val(1);
          $("#building_data_entry_building_number_txtval").val(1);
        }
      }
      $("#building_data_entry_area_this_floor").val("");
      $("#building_data_entry_total_area_building").val("");
      $("#building_data_entry_building_slope_txtval").val("Select Environment for this building or floor");
      $("#building_data_entry_building_slope").val("");

      if($('#building_data_entry_building_number').val().length > 0) {
        $.get( "<%= get_total_area_building_project_path(project) %>", { building_number: $('#building_data_entry_building_number').val() });
      }
    });

    $("#building_data_details").validate({
      errorPlacement: function(error, element) {
        if(element.attr("name") == "building_data_entry[building_number]") {
          error.appendTo($("#building_number_error"));
        } else if(element.attr("name") == "building_data_entry[number_of_floors]") {
          error.appendTo($("#number_of_floors_error"));
        // } else if(element.attr("name") == "building_data_entry[floor_number]") {
        //   error.appendTo($("#floor_number_error"));
        } else if(element.attr("name") == "building_data_entry[building_slope]") {
          error.appendTo($("#building_slope_error"));
        } else {
          error.insertAfter(element);
        }
      },
      rules: {
        "building_data_entry[building_name]": {
          required: true,
          noSpace: true,
          maxlength: 255
        },
        "building_data_entry[building_number]": {
          required: true
        },
        "building_data_entry[number_of_floors]": {
          required: true
        },
        "building_data_entry[floor_number]": {
          required: function(element) {
            return !$('#no_floor_area').is(':checked');
          },
          noSpace: function(element) {
            return !$('#no_floor_area').is(':checked');
          },
          number: function(element) {
            return !$('#no_floor_area').is(':checked');
          }
        },
        "building_data_entry[area_this_floor]": {
          required: function(element) {
            return !$('#no_floor_area').is(':checked');
          },
          number: true
        },
        "building_data_entry[total_area_building]": {
          required: function(element) {
            return $('#no_floor_area').is(':checked');
          }
        },
        "building_data_entry[building_slope]": {
          required: true
        }
      },
      messages: {
        "building_data_entry[building_name]": {
          required: "Please enter Building Name.",
          noSpace: "Please enter valid Building Name."
        },
        "building_data_entry[building_number]": {
          required: "Please select Bldg. No."
        },
        'building_data_entry[number_of_floors]': {
          required: "Please select No. of Floors."
        },
        'building_data_entry[floor_number]': {
          required: "Please enter Floor No.",
          noSpace: "Please enter valid Floor No.",
          number: "Please enter valid Floor No."
        },
        'building_data_entry[area_this_floor]': {
          required: "Please enter (Sq.Ft.) Area - This Floor.",
          number: "Please enter valid (Sq.Ft.) Area - This Floor."
        },
        'building_data_entry[total_area_building]': {
          required: "Please enter (Sq.Ft.) Total Area of Building.",
          number: "Please enter valid (Sq.Ft.) Total Area of Building." 
        },
        'building_data_entry[building_slope]': {
          required: "Please select Environment for this building or floor."
        }
      },
      highlight: function (element) {
        $(element).parent().removeClass("has-success").addClass("has-error");
      },
      success: function (element) {
        $(element).parent().removeClass("has-error").addClass("has-success");
        $(element).removeClass("error");
        $(element).addClass("display-table margin-0");
      }
    });
  });
</script>