<% content_for(:title) do %>
  Project Report
<% end %>

<div class="grayOuter">
  <div class="container">
    <div class="building1">
      <div class="row display-none" id="generate_report">
        <div class="col-xs-9">
          <div class="stepInnerContnt">
            <% if static_page.present? && static_page.show_report_heading.present? %>
              <%= static_page.show_report_heading.html_safe %>
            <% else %>
              <div class="clearfix tac boldHD my-acc-edit"> DAS ROM MATERIAL QUOTE</div>
            <% end %>
          </div>
          <div class="mt20"></div>
          <!-- Project Data Start -->
          <div class="rportsTable overflow-auto">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-responsive min-width-600" width="100%">
              <tr>
                <th class="width-10">User Name</th>
                <th class="width-10">Project Name</th>
                <th class="width-10">Company</th>
                <th class="width-10">Facility Option</th>
                <th class="width-10">No. Of Buildings</th>
                <th class="width-10">Have Floorplans</th>
              </tr>
              <tr>
                <td class="break-all padding-5"><%= project.user_name %></td>
                <td class="break-all padding-5"><%= project.project_name %></td>
                <td class="break-all padding-5"><%= project.company %></td>
                <td class="break-all padding-5"><%= project.facility_option %></td>
                <td class="break-all padding-5"><%= project.building.number_of_buildings %></td>
                <td class="break-all padding-5"><%= project.building.have_floorplan %></td>
              </tr>
            </table>
          </div>
          <div class="clearfix margin-top-5"></div>
          <div class="rportsTable overflow-auto">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-responsive min-width-600" width="100%">
              <tr>
                <th class="width-10">No. Of Services</th>
                <th class="width-10">Highest Frequency Band</th>
                <th class="width-10">System Feed Method</th>
                <th class="width-10">System Architecture</th>
                <th class="width-10">Technology Type</th>
                <th class="width-10">Communication Type</th>
              </tr>
              <tr>
                <td class="break-all padding-5"><%= project.number_of_services %></td>
                <td class="break-all padding-5"><%= project.highest_frequency_band %></td>
                <td class="break-all padding-5"><%= project.system_feed_method %></td>
                <td class="break-all padding-5"><%= project.system_architecture %></td>
                <td class="break-all padding-5"><%= project.technology_type %></td>
                <td class="break-all padding-5"><%= project.communication_type %></td>
              </tr>
            </table>
          </div>
          <!-- Project Data End -->
          <% building_data_entries = project.building.building_data_entries.order("id ASC") %>
          <% building_data_entries.each do |building_data_entry| %>
            <div class="mt20"></div>
            <div class="rportsTable stepInnerContnt">
              <p class="dash_para bf-info margin-0">
                Building Name: <%= building_data_entry.building_name %> , Building Number: <%= building_data_entry.building_number %>
                <% if building_data_entry.floor_number.present? %>
                , Floor Number: <%= building_data_entry.floor_number %>
                <% end %>
              </p>
            </div>
            <div class="mt20"></div>
            <!-- Report Data Start -->
            <div class="rportsTable">
              <table cellpadding="0" cellspacing="0" border="0" class="table table-responsive" width="100%">
                <tr>
                  <th style="width:8%">Sr. No.</th>
                  <th style="width:18%">Material <br>Category</th>
                  <th style="width:34%">Description</th>
                  <th style="width:10%">Suggested <br>Mfg &amp; PN</th>
                  <th style="width:10%">Part <br>Quantity</th>
                  <th style="width:10%">Unit<br>Price</th>
                  <th style="width:10%">Total <br> Price</th>
                </tr>
                <% total_price = 0 %>
                <% part_quantity_informations = building_data_entry.part_quantity_informations.includes(:report_material_list).order("id ASC") %>
                <% part_quantity_informations.each.with_index(1) do |part_quantity_information, index| %>
                  <% product_price_list = ProductPriceList.where(report_material_list_id: part_quantity_information.report_material_list_id).last %>
                  <% total_line_price = 0 %>
                  <% if part_quantity_information.quantity.present? %>
                    <% total_line_price = part_quantity_information.quantity * calculate_unit_price(project, product_price_list, part_quantity_information) %>
                  <% end %>
                  <% total_price += total_line_price %>
                  <% report_material_list = part_quantity_information.report_material_list %>
                  <tr>
                    <td><%= index %></td>
                    <td class="text-align-left pleft-5"><%= report_material_list.try(:material_category).try(:category) %></td>
                    <td class="text-align-left pleft-5"><%= report_material_list.try(:description) %></td>
                    <td><%= product_price_list.mfg_pn %></td>
                    <td><%= value_with_delimiter(part_quantity_information.quantity.round) %></td>
                    <td class="text-align-right pright-5">$<%= value_with_precision(calculate_unit_price(project, product_price_list, part_quantity_information)) %></td>
                    <td class="text-align-right pright-5">$<%= value_with_precision(total_line_price.to_f.round(2)) %></td>
                  </tr>
                <% end %>
              </table>
            </div>
            <!-- Report Data End -->
            <div class="mt10"></div>
            <div class="rportsTable stepInnerContnt">
              <p class="dash_para bf-info margin-0 total-price">Your ROM Total Material Quote is: $<%= value_with_precision(total_price.to_f.round(2)) %> (USD)</p>
            </div>
          <% end %>
          <div class="mt20"></div>
          <!-- Report Data Start -->
          <div class="rportsTable">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-responsive" width="100%">
              <tr>
                <th style="width:14%">Building <br> Name</th>
                <th style="width:14%">Building <br> Number</th>
                <th style="width:14%">Number <br> of Floors</th>
                <th style="width:14%">Floor <br> Number</th>
                <th style="width:14%">Total Area of <br> Floor / Building</th>
                <th style="width:14%">Price Per <br> Sq. Ft.</th>
                <th style="width:14%">Total <br> Price</th>
              </tr>
              <% project_price = 0 %>
              <% building_data_entries = project.building.building_data_entries.order("id ASC") %>
              <% building_data_entries.each do |building_data_entry| %>
                <% total_price = 0 %>
                <% part_quantity_informations = building_data_entry.part_quantity_informations.includes(:report_material_list).order("id ASC") %>
                <% part_quantity_informations.each.with_index(1) do |part_quantity_information, index| %>
                  <% product_price_list = ProductPriceList.where(report_material_list_id: part_quantity_information.report_material_list_id).last %>
                  <% total_line_price = 0 %>
                  <% if part_quantity_information.quantity.present? %>
                    <% total_line_price = part_quantity_information.quantity * calculate_unit_price(project, product_price_list, part_quantity_information) %>
                  <% end %>
                  <% total_price += total_line_price %>
                <% end %>
                <% project_price += total_price %>
                <tr>
                  <td><%= building_data_entry.building_name %></td>
                  <td><%= building_data_entry.building_number %></td>
                  <td><%= building_data_entry.number_of_floors %></td>
                  <td><%= building_data_entry.floor_number %></td>
                  <% if building_data_entry.floor_number.present? %>
                    <td><%= value_with_delimiter(building_data_entry.area_this_floor) %></td>
                    <td>$<%= value_with_precision((total_price.to_f / building_data_entry.area_this_floor).round(2)) %> (USD)</td>
                  <% else %>
                    <td><%= value_with_delimiter(building_data_entry.total_area_building) %></td>
                    <td>$<%= value_with_precision((total_price.to_f / building_data_entry.total_area_building).round(2)) %> (USD)</td>
                  <% end %>
                  <td>$<%= value_with_precision(total_price.to_f.round(2)) %> (USD)</td>
                </tr>
              <% end %>
              <tr class="bt-1">
                <th colspan="6">Total</th>
                <th>$<%= value_with_precision(project_price.to_f.round(2)) %> (USD)</th>
              </tr>
            </table>
          </div>
          <!-- Report Data End -->
          <div class="nextBtn mt20 btn_center">
            <%= link_to "close", projects_path, remote: true, class: "grayBtn" %> &nbsp;
            <%= link_to "dISCARD and redo", project_destroy_show_path(project, discard: "true"), remote: true, class: "orangeBtn" %>
          </div>
          <% if static_page.buttons_report_page.present? %>
            <%= static_page.buttons_report_page.html_safe %>
          <% else %>
            <div class="nextBtn mt20 btn_center">
              <%= link_to "http://www.idasquick.com/", target: "_blank", class: "orangeBtn bg-color-green padding-4-20" do %>
                B2B Portal Access &nbsp;<i class="fa fa-building def-icon"></i>
              <% end %> &nbsp;
              <%= link_to "https://www.draw.io/", target: "_blank", class: "orangeBtn bg-color-green padding-4-20" do %>
                Diagramming Tool &nbsp;<i class="fa fa-pencil-square-o def-icon"></i>
              <% end %>
            </div>
            <div class="nextBtn mt20 btn_center">
              <%= link_to "http://www.idasquick.com/", target: "_blank", class: "orangeBtn bg-color-green padding-4-20" do %>
                Active Material Spares &nbsp;<i class="fa fa-plus-square def-icon"></i>
              <% end %> &nbsp;
              <%= link_to "http://www.idasquick.com/", target: "_blank", class: "orangeBtn bg-color-green padding-4-20" do %>
                Filter Builder &nbsp;<i class="fa fa-cubes def-icon"></i> 
              <% end %> &nbsp;
              <%= link_to "http://www.idasquick.com/", target: "_blank", class: "orangeBtn bg-color-green padding-4-20 margin-t20" do %>
                Buy Quoted Materials Now &nbsp;<i class="fa fa-credit-card def-icon"></i> 
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="col-xs-3 relt">
          <div class="b_stepbox">
            <div class="stp_line"><span class="active"><div class="circle green_circle"></div></span><span class="active"></span><span class="active"></span></div>
            <div class="stp_line"><span class="lgreen_circle"><div class="circle lgreen_circle"></div></span></div>
            <div class="stp_line last"><span class="orange_circle"><div class="circle orange_circle"></div></span></div>
          </div>
          <%= image_tag "yellow-step3.png", alt: "", class: "step1" %>
          <%= render partial: 'shared/right_image', locals: { static_page: static_page } %>
          <div class="stepOuterNext stepOuterLast" id="timer_countdown_start">
            Remaining time to download your Report.
            <div class="nextBtn mt20">
              <div class="countdown styled fs-30"></div>
            </div>
          </div>
          <div class="stepOuterNext stepOuterLast display-none" id="timer_countdown_end">
            <%= link_to "Download Report", "javascript:;", class: "orangeBtn padding-10-40 down-report", data: {toggle: "modal", target: "#download_report"} %>
          </div>
          <div class="mt20"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project Discard Modal -->
<div class="modal fade" id="destroy_show" tabindex="-1" role="dialog" aria-labelledby="destroyShowLabel"></div>

<!-- Download Report Modal -->
<div class="modal fade" id="download_report" tabindex="-1" role="dialog" aria-labelledby="downloadReportLabel"></div>

<script type="text/javascript">
  $(function() {
    <% if project.visited_report? %>
      $.get("<%= show_download_report_project_path(project) %>");
      $("#generate_report").show();
      set_footer();
    <% else %>
      setTimeout(function() {
        $(".ajax-loading").show();
      }, 10);
      setTimeout(function() {
        $.get("<%= show_generate_report_project_path(project) %>");
        $("#generate_report").show();
        set_footer();
        var endDate = new Date();
        endDate.setSeconds(endDate.getSeconds() + <%= timer_setting.report_download_timer.to_i %>);
        $('.countdown.styled').countdown({
          date: endDate,
          render: function(data) {
            $(this.el).html("<div class='year'>" + this.leadingZeros(data.days, 4) + " <span></span></div><div class='dateHours'>" + this.leadingZeros(data.hours, 2) + " <span></span></div> :<div class='dateMin'>" + this.leadingZeros(data.min, 2) + " <span></span></div> :<div class='dateSec'>" + this.leadingZeros(data.sec, 2) + " <span></span></div>");
          },
          onEnd: function() {
            $.get("<%= show_download_report_project_path(project) %>");
          }
        });
      }, <%= timer_setting.report_generate_timer.to_i * 1000 %>);
    <% end %>
  });

  $(window).scroll(function() {    
    if($(window).scrollTop() > 200){
      $("#timer_countdown_start").addClass("posFix");
      $("#timer_countdown_end").addClass("posFix");
    } else {
      $("#timer_countdown_start").removeClass("posFix");
      $("#timer_countdown_end").removeClass("posFix");
    }
  });
</script>
