$("#destroy_show").modal("hide");
$('body').removeClass('modal-open');
$('.modal-backdrop').remove();

<% if @discard %>
	$("#container_content").html("<%= j(render partial: 'form', locals: { project: Project.new, facility: @facility, first: @first, static_page: @static_page }) %>");
	document.title = "Project Details"
	if (history && history.pushState) {
		history.pushState(null, document.title, "<%= new_project_path %>");
		$(window).bind("popstate", function(){
	    $.getScript(location.href);
	  });
	}
<% else %>
	$("#container_content").html("<%= j(render partial: 'projects', locals: { projects: @projects, page: @page, static_page: @static_page }) %>");
	<% if @completed %>
		document.title = "Projects"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= projects_path(page: @page) %>");
			$(window).bind("popstate", function(){
		    $.getScript(location.href);
		  });
		}
	<% else %>
		document.title = "Projects Pending"
		if (history && history.pushState) {
			history.pushState(null, document.title, "<%= projects_pending_path(page: @page) %>");
			$(window).bind("popstate", function(){
		    $.getScript(location.href);
		  });
		}
	<% end %>
<% end %>

set_footer();