$("#container_content").html("<%= j(render partial: 'projects', locals: { projects: @projects, page: @page, static_page: @static_page }) %>");
document.title = "Projects"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= projects_path(page: @page) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);