$("#container_content").html("<%= j(render partial: 'report', locals: { project: @project, timer_setting: @timer_setting, static_page: @static_page }) %>");
document.title = "Project Report"
if (history && history.pushState) {
	history.pushState(null, document.title, "<%= report_project_path(@project, first: @first, facility: @facility) %>");
	$(window).bind("popstate", function(){
    $.getScript(location.href);
  });
}

set_footer();
$('html').scrollTop(0);