<% content_for(:title) do %>
  Server Error
<% end %>

<div class="grayOuter padding_50">
  <div class="container">
    <div class="">
      <div class="row">
        <div class="clearfix  page404 tac">
          <div class="clearfix whiteBox tac">
            <%= image_tag "500.jpg", alt: "Server Error" %><br><br>
            <% if @static_page.present? && @static_page.internal_server_error.present? %>
              <%= @static_page.internal_server_error.html_safe %>
            <% else %>
              <p class="">Aenean non congue metus. Integer cursus nisi at nunc scelerisque auctor? <br> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;Nullam sed elit</p>
              <%= link_to "Back to Home", root_path, class: "btn grayBtn", remote: true %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>