<% content_for(:title) do %>
  Page Not Found
<% end %>

<div class="grayOuter padding_50">
  <div class="container">
    <div class="building1">
      <div class="row">
        <div class="clearfix  page404 tac">
          <div class="clearfix whiteBox tac">
            <%= image_tag "404.png", alt: "Page Not Found" %><br><br>
            <% if @static_page.present? && @static_page.not_found.present? %>
              <%= @static_page.not_found.html_safe %>
            <% else %>
              <p class="mt30">Aenean non congue metus. Integer cursus nisi at nunc scelerisque auctor? <br> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;Nullam sed elit</p>
              <%= link_to "Back to Home", root_path, class: "btn grayBtn", remote: true %>
            <% end %>
          </div>  
        </div>
      </div>  
    </div>
  </div>
</div>