<% static_page = StaticPage.last %>
<p>Welcome <%= @email %>!</p>
<% if static_page.present? && static_page.confirmation_email.present? %>
  <%= static_page.confirmation_email.html_safe %>
<% else %>
	<p>You can confirm your account email through the link below:</p>
<% end %>
<p><%= link_to "Confirm my account", "#{ENV['DOMAIN']}/users/confirmation?confirmation_token=#{@token}" %></p>



