<% static_page = StaticPage.last %>
<p>Hello <%= @resource.email %>!</p>
<% if static_page.present? && static_page.reset_password_email.present? %>
  <%= static_page.reset_password_email.html_safe %>
<% else %>
	<p>Someone has requested a link to change your password. If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>

	<p>You can do this through the link below.</p>
<% end %>

<p><%= link_to "Change my password", "#{ENV['DOMAIN']}/users/password/edit?reset_password_token=#{@token}" %></p>